<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[GameSales] %-d{yyyy-MM-dd HH:mm:ss} %p  %c{1}.%M(%L) | %m%n" />
		</layout>
	</appender>
	<appender name="APPLOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="File" value="${webapp.root}/WEB-INF/logs/biError.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd-HH"/> 
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[GameSales] %-d{yyyy-MM-dd HH:mm:ss} %-5p %-15c{1}: %m%n" />
		</layout>
		 <!--过滤器设置输出的级别-->     
        <filter class="org.apache.log4j.varia.LevelRangeFilter">     
            <param name="levelMin" value="warn" />     
            <param name="levelMax" value="error" />     
            <param name="AcceptOnMatch" value="true" />     
        </filter> 
	</appender> 
	
		<appender name="IBatis" class="org.apache.log4j.DailyRollingFileAppender">
		  <param name="File" value="${webapp.root}/WEB-INF/logs/excuteSqlTime.log" />
		  <param name="Append" value="true" />
		  <param name="DatePattern" value="'.'yyyy-MM-dd" />
		  <layout class="org.apache.log4j.PatternLayout">
		   <param name="ConversionPattern" value="[GameSales] %-d{yyyy-MM-dd HH:mm:ss} %p  %c{1}.%M(%L) | %m%n" />
		  </layout>
 		</appender>
		<!-- 下面是打印mybatis语句的配置-->
		<!--  <logger name="com.ibatis" additivity="true">
		  <level value="DEBUG" />
		 </logger>
		 
		 <logger name="java.sql.Connection" additivity="true">
		  <level value="DEBUG" />
		 </logger>
		 
		 <logger name="java.sql.Statement" additivity="true">
		  <level value="DEBUG" />
		 </logger> -->
		 
		 <logger name="java.sql.PreparedStatement" additivity="true">
		  <level value="DEBUG" />
		  <appender-ref ref="CONSOLE" />
		 </logger>
		 
		 <logger name="java.sql.ResultSet" additivity="true">
		  <level value="DEBUG" />
		  <appender-ref ref="CONSOLE" />
		 </logger>
	
	
	 <root>
		 <level value="debug" /> 
		 <priority value="INFO" />
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="APPLOGFILE" />
		<appender-ref ref="IBatis" /> -->
	</root> 

	

</log4j:configuration>